<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大banner轮播焦点图</title>
	<link rel="stylesheet" href="/views/default/focus/css/bigbannerfocusStyle.css">
</head>
<body>
	

	<div id="focus-banner">
		<ul id="focus-banner-list">
			<li>
				<a href="#" class="focus-banner-img">
					<img src="/views/default/focus/images/banner2.jpg" alt="">
				</a>
				<div class="focus-banner-text">
					<p>这是一句广告语</p>					
				</div>
			</li>
			<li>
				<a href="#" class="focus-banner-img">
					<img src="/views/default/focus/images/banner3.jpg" alt="">
				</a>
				<div class="focus-banner-text">
					<p>这是二句广告语</p>
				</div>
			</li>
			<li>
				<a href="#" class="focus-banner-img">
					<img src="/views/default/focus/images/banner4.jpg" alt="">
				</a>
				<div class="focus-banner-text">
					<p>这是三句广告语</p>
				</div>
			</li>
			<li>
				<a href="#" class="focus-banner-img">
					<img src="/views/default/focus/images/banner5.jpg" alt="">
				</a>
				<div class="focus-banner-text">
					<p>这是四句广告语</p>
				</div>
			</li>
		</ul>
		<a href="javascript:;" id="prev-img" class="focus-handle"></a>
		<a href="javascript:;" id="next-img" class="focus-handle"></a>
		<ul id="focus-bubble"></ul>
	</div>

	<script src="/views/default/focus/js/jquery-1.8.3.min1.js"></script>
	<script src="/views/default/focus/js/bigbannerfocus.js"></script>
</body>
</html>